* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1133px;
    margin: 0 auto;
}

.first_line, .second_line, .third_line {
    display: flex;
}

.first_line img {
    width: 100%;
    margin: 5px;
    height: 0%;
}

.second_line img {
    width: 50%;
    margin: 5px;
    height: 0%;
}

.third_line img {
    width: 33%;
    margin: 5px;
    height: 0%;
}



